.cities
    height: auto
    padding: 1em 3em 5em
    h2
        margin-top: 1em
        position: relative
        &::after
            content: ''
            height: 2px
            width: 15%
            background-color: $main
            display: block    
            margin: 0 auto
            margin-top: .6em 
    .city-cards
        display: flex
        justify-content: space-between
        width: 90%
        margin: 5em auto 0em
        .city-info
            img
                height: 10em
                width: 16em
                // border-radius: 5px
                margin-bottom: 1em
                box-shadow: 0 0 5px 0 #000
            ul li
                list-style-type: none
                
        